.App {
  text-align: center;
}

.container {
  margin-top: 2em;
}

.fila {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columna {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.date-picker {
  flex: 1
}

.chart {
  flex: 1;
  justify-content: 'center';
  margin-top: 2em
}

.pulse {
  margin:5px 10px 5px 5px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2979FF;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(43,106,235, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(43,106,235, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(43,106,235, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(43,106,235, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(43,106,235, 0.4);
    box-shadow: 0 0 0 0 rgba(43,106,235, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(43,106,235, 0);
      box-shadow: 0 0 0 10px rgba(43,106,235, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(43,106,235, 0);
      box-shadow: 0 0 0 0 rgba(43,106,235, 0);
  }
}